<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Connect Four</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/connect-four.css" rel="stylesheet">

</head>
<body>
    <div class="row">
        <h1>Connect Four</h1>
        <div id="board" class="col-sm-offset-3 col-sm-6"></div>
    </div>
    <div class="row">
        <div id="form" class="col-sm-offset-5 col-sm-2">
            <form id="options">
                <div class="input-group">
                    <span class="input-group-addon">Columns:</span>
                    <input type="text" id="cols"class="form-control" placeholder="6">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Rows:</span>
                    <input type="text" id="rows"class="form-control" placeholder="7">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Connect:</span>
                    <input type="text" id="wincond"class="form-control" placeholder="4">
                </div>
                <br>
                <button class="btn btn-default" type="button" id="reset">Reset!</button>
            </form>
        </div>
    </div>
    <!-- Winner Modal -->
    <div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Congrats!</h3>
          </div>
          <div class="modal-body">
            <h3 id="winText"></h3>
          </div>
          <div class="modal-footer">
            <button id="reset" type="button" class="btn btn-default" data-dismiss="modal">Reset!</button>
          </div>
        </div>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/connect-four.js"></script>
    <script src="../static/js/tests.js"></script>
</body>
</html>
